{#{% extends "pokemons/base.html" %}#}
{##}
{##}
{#{% block header %}#}
{#    {% include "pokemons/includes/header.html" %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% include "pokemons/includes/content.html" %}#}
{#{% endblock %}#}
{##}
{#{% block create %}#}
{#    {% include "pokemons/pokemon_create.html" %}#}
{#{% endblock %}#}
{##}
{#{% block detail %}#}
{#    {% include "pokemons/pokemon_detail.html" %}#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#    {% include "pokemons/includes/footer.html" %}#}
{#{% endblock %}#}
