{% extends "pokemons/base.html" %}
{% load static %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="card-detail">
                    {% if pokemon.photo %}
                        <img src="{{ pokemon.photo.url }}" width="150" height="150" alt="Pokemon photo">
                    {% else %}
                        <img src="#" alt="Pokemon photo">
                    {% endif %}
                    <h4><b>{{ pokemon.name }}</b></h4>
                    <p><b>Вес:{{ pokemon.weight }}</b>кг</p>
                    <p><b>Пол:</b>{{ pokemon.gender }}</p>
                    <p><b>Таланты:</b>{{ pokemon.talents }}</p>
                    <p><b>Тип:</b>{{ pokemon.type }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}